* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: content-box;
}
.container {
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  flex: content;
}
button {
  background-color: #4caf50; /* Green */
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  left: 10px;
}
input[type="text"] {
  padding: auto;
  size: 100px;
  border: 2px solid greenyellow;
  border-radius: 4px;
}
